services:
  api:
    container_name: watchit_api
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=development
    volumes:
      - .:/usr/src/app
    environment:
      - NODE_ENV=development
    command: npm run dev
