openapi: 3.0.0
info:
  title: WatchIt API
  version: 1.0.0
  description: This is the WatchIt API
  contact:
    name: Maxime Biechy
    email: biechymaxime@gmail.com
servers:
  - url: http://localhost:3000
    description: Development server (uses docker-compose.dev.yml)
paths:
  /api-docs:
    get:
      summary: Get the OpenAPI documentation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  openapi:
                    type: string
                    example: 3.0.0
                  info:
                    type: object
                    properties:
                      title:
                        type: string
                        example: WatchIt API
                      version:
                        type: string
                        example: 1.0.0
                      description:
                        type: string
                        example: This is the WatchIt API
                      contact:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Maxime Biechy
                          email:
                            type: string
                            example: biechymaxime@gmail.com
  /debug-sentry:
    get:
      summary: Test Sentry error handling
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sentry is working
  /api/v1:
    get:
      summary: Check if the API is working
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: API is working
  /api/v1/users:
    get:
      summary: Get all users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserDTO'
                  message:
                    type: string
                    example: Users fetched successfully
        '500':
          $ref: '#/components/responses/DatabaseError'
  /api/v1/auth/register:
    post:
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDTO'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegisterResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/DatabaseError'
  /api/v1/auth/signin:
    post:
      summary: Sign in a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigninDTO'
      responses:
        '200':
          description: Logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSigninResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/DatabaseError'
  /api/v1/movies/{id}:
    get:
      summary: Get movie details by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The movie ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieDTO'

components:
  responses:
    GeneralError:
      description: A general error with a consistent structure
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    DatabaseError:
      description: Database error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    UserDTO:
      type: object
      properties:
        id:
          type: string
          example: 209e7497-a7ce-4a6e-92b7-75bb0deb9a15
        username:
          type: string
          example: john_doe
        email:
          type: string
          example: john.doe@example.com
        createdAt:
          type: string
          format: date-time
          example: 2025-02-01T16:37:48.343Z
        updatedAt:
          type: string
          format: date-time
          example: 2025-02-01T16:37:48.343Z

    RegisterDTO:
      type: object
      properties:
        username:
          type: string
          example: Maxime
        email:
          type: string
          example: biechymaxime@gmail.com
        password:
          type: string
          example: mypassword

    SigninDTO:
      type: object
      properties:
        email:
          type: string
          example: biechymaxime@gmail.com
        password:
          type: string
          example: mypassword

    UserRegisterResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: User registered successfully
        user:
          type: object
          properties:
            id:
              type: string
              example: 209e7497-a7ce-4a6e-92b7-75bb0deb9a15
            username:
              type: string
              example: Maxime
            email:
              type: string
              example: biechymaxime@gmail.com
            createdAt:
              type: string
              format: date-time
              example: 2025-02-01T16:37:48.343Z
            updatedAt:
              type: string
              format: date-time
              example: 2025-02-01T16:37:48.343Z

    UserSigninResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: User logged in successfully
        user:
          type: object
          properties:
            id:
              type: string
              example: 209e7497-a7ce-4a6e-92b7-75bb0deb9a15
            username:
              type: string
              example: Maxime
            email:
              type: string
              example:
            accessToken:
              type: string
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im1heGltZSIsImlhdCI6MTYxMzUwNjQwMCwiZXhwIjoxNjEzNTEyMDAwfQ.7
            refreshToken:
              type: string
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im1heGltZSIsImlhdCI6MTYxMzUwNjQwMCwiZXhwIjoxNjEzNTEyMDAwfQ.7

    MovieDTO:
      type: object
      properties:
        status:
          type: string
          example: success
        message:
          type: string
          example: User logged in successfully
        movie:
          type: object
          properties:
            id:
              type: number
              example: 500
            title:
              type: string
              example: The Shawshank Redemption
            overview:
              type: string
              example: Two imprisoned
            posterPath:
              type: string
              example: /9O7gLzmreU0nGkIB6K3BsJbzvNv.jpg
            director:
              type: string
              example: Frank Darabont
            releaseDate:
              type: string
              format: date
              example: 1994-09-23

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: error
        message:
          type: string
          example: Validation error
        code:
          type: string
          example: ValidationError
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: email
              constraints:
                type: object
                example: { isEmail: "email must be a valid email" }
        timestamp:
          type: string
          format: date-time
          example: 2025-03-01T12:00:00.000Z
        path:
          type: string
          example: /api/v1/auth/register
